body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  background-color: hsla(0, 100%, 74%);
  background-image: url("/images/mobile-background.png");
  padding-top: 5em;
  padding-bottom: 4em;
}

#item-1 > h1 {
  margin-top: 0;
  font-size: 1.8em;
  font-weight: 700;  
  text-align: center;
  color: white;
}

#item-1 > p {
  margin-top: 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
  font-weight: 400;  
  text-align: center;
  color: white;
  margin-bottom: 4em;
}

#simple-box {
  background-color: hsl(248, 32%, 49%);
  color: white;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0;
  padding: 1.2em 4em;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 8px 6px -6px black;
  font-weight: 600;  
  margin-bottom: 1.6em;
}

#simple-box > span {
  font-weight: 400;  
}

form {
  border: none;
  background-color: white;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 10px;
  padding: 1.5em;
  box-shadow: 0 8px 6px -6px black;
}

form > div {
  margin-bottom: 1em;
}

.form-control {
  position: relative;
}

input {
  padding: 1.3em 1em 1.2em;
  border-radius: 5px;
  border: 1px solid hsl(0, 0%, 87%);
  font-family: inherit;
  font-weight: 600;  
  color: #3D3A43;
  width: 100%;
  box-sizing: border-box;
}

.form-control.error input {
  border-width: 2px;
  border-color: #D8868A;
}

input:focus {
  outline: none;
  border-color: black;
}

input::placeholder {
  color: #6B696F;
}

.form-control.error input::placeholder {
  visibility: hidden;
}

.form-control img {
  position: absolute;
  top: 1em;
  right: 1em;  
  visibility: hidden;
}

.form-control.error img {
  visibility: visible;
}

small {
  display: block;
  text-align: right;  
  color: #E88E9C;
  font-weight: 500;
  font-size: 0.8em;
  font-style: italic;
  margin-top: 0.4em;
}

button {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding-top: 1.1em; 
  padding-bottom: 1.1em; 
  font-family: inherit;
  font-weight: 500;  
  font-size: 1em;
  color: white;
  background-color: hsl(154, 59%, 51%);
  letter-spacing: 1px;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.4);
}

button:focus {
  outline: none;
  background-color: hsl(158, 84%, 62%);
}

#agreement > p {
  font-size: 0.7em;
  font-weight: 400;  
  color: hsl(246, 25%, 77%);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
  padding-right: 2em; 
}

#agreement span {
  font-weight: 700;  
  color: #D87985;
}

#agreement {
  margin-bottom: 0;
}

@media (min-width: 1024px) {
  body {
    background-image: url("/images/desktop-background.png");
    padding: 7em 9em;
  }
  
  #container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  #item-1 {
    flex: 1;
  }
  
  #item-2 {
    flex: 1;
  }

  #item-1 > h1 {
    font-size: 3.5em;
    line-height: 1.2;
    text-align: left;  
  }  

  #item-1 > p {
    text-align: left;  
    padding-left: 0;
    font-size: 1.2em;
    margin-bottom: 0;
    font-weight: 600;  
    opacity: 0.8;
    line-height: 1.7;
  }

  button:hover {
    cursor: pointer;
  }
  
}